[submodule "third_party/github.com/googleapis"]
path = third_party/github.com/googleapis
url = git@github.com:googleapis/googleapis.git
[submodule "third_party/github.com/logrus"]
	path = third_party/github.com/logrus
	url = https://github.com/sirupsen/logrus.git
